* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-bg-color: #FFBAA1;
    --second-bg-color: #FFFFFF;
    --main-button-color: #423636;
    --main-hover-button-color: #bb8c82;
    --main-color: azure;
    --main-text-color: #FFFFFF;
    --main-hover-text-color: #000;
}

body {
    max-width: 1200px;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: var(--main-bg-color);
}

img {
    max-width: 100%;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: #000000;
}

// Global
.mainText {
    font-size: 2.6rem;
}

.mainParagraf {
    font-size: 1.2rem;
}

.paddingY30 {
    padding: 30px 0;
}

.gap2 {
    gap: 2rem;
}

// Header
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

// Main
main {
    .homeSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
        height: 100vh;
    }

    .homeSectionArticleFigure {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
    }

    // About US
    .about {
        height: 100vh;
        background-color: white;
        border-radius: 50px;

        .aboutSection {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 20px 50px;
            position: sticky;
            top: 0px;

            .aboutSectionButton {
                display: grid;
                grid-template-columns: 1fr 1fr;
                background-color: var(--main-button-color);
                color: var(--main-color);
                border: 2px solid black;
                align-items: center;
                padding: 20px;
            }
        }
    }


    // Testimonials{
    .testimonialsSection {
        height: 100vh;
        display: grid;
        align-items: center;
        text-align: center;


        .testimonialsSectionInfomation {
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;

            p {
                padding: 0 100px;
            }
        }
    }
}

// Footer
footer {
    background-color: white;
    border-radius: 40px;
    text-align: center;
}