* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-bg-color: #FFBAA1;
    --second-bg-color: whitesmoke;
    --main-button-color: #423636;
    --main-hover-button-color: #bb8c82;
    --main-text-color: #FFBAA1;
    --second-text-color: #000000;
}

body {
    max-width: 1200px;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: var(--main-bg-color);
}

img {
    max-width: 100%;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: var(--second-text-color);
}


// Global
.mainText {
    font-size: 2.5rem;
}

.mainParagraf {
    font-size: 1.2rem;
}

.paddingY30 {
    padding: 30px 0;
}

.gap2 {
    gap: 2rem;
}

// Header
.stickyButton {
    background-color: white;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--second-bg-color);
    border-radius: 50px;
    padding: 5px 50px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        a {
            transition: border-bottom .28s;
        }

        a:hover {
            border-bottom: 3px solid var(--main-text-color);
        }
    }
}

// Main
main {
    .homeSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
        height: 100vh;
    }

    .homeSectionArticleFigure {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
    }

    // About US
    .about {
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
        height: 150vh;
        background-color: var(--second-bg-color);
        border-radius: 50px;

        .aboutSection {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 50px;
            position: sticky;
            top: 0px;

            .aboutSectionButton {
                box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
                display: grid;
                grid-template-columns: 1fr 1fr;
                border-radius: 40px;
                border: 2px solid black;
                align-items: center;
                background-color: var(--main-bg-color);
                padding: 20px;
            }
        }
    }

    // Testimonials{
    .testimonialsSection {
        height: 100vh;
        display: grid;
        align-items: center;
        text-align: center;

        .testimonialsSectionInfomation {
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;

            p {
                padding: 0 140px;
            }
        }
    }
}

// Footer
footer {
    background-color: var(--second-bg-color);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    text-align: center;
}